@import "tailwindcss";

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 160, 160);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(162, 160, 160);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(162, 160, 160) white;
}
